# **Scenario**

You have been hired as a Data Analyst for "Gnod".

"Gnod" is a site that provides recommendations for music, art, literature and products based on collaborative filtering algorithms. Their flagship product is the music recommender, which you can try at www.gnoosic.com. The site asks users to input 3 bands they like, and computes similarity scores with the rest of the users. Then, they recommend to the user bands that users with similar tastes have picked.

"Gnod" is a small company, and its only revenue stream so far are adds in the site. In the future, they would like to explore partnership options with music apps (such as Deezer, Soundcloud or even Apple Music and Spotify). However, for that to be possible, they need to expand and improve their recommendations.

That's precisely where you come. They have hired you as a Data Analyst, and they expect you to bring a mix of technical expertise and business mindset to the table.

**The goal of the company (Gnod)**: Explore partnership options with music apps(Deezer, Soundcloud, Apple Music, Spotify etc.)

**Their current product (Gnoosic)**: Music Recommender (asks users to input 3 bands they like, and computes similarity scores with the rest of the users. Then, they recommend to the user bands that users with similar tastes have picked).

**How your project fits into this context**: Expand and improve music recommendations. Enhance song recommendations (not only bands).

### **Instructions - Scraping popular songs**

Scrape the current most popular songs and their respective artists.

Your product will take a song as an input from the user and will output another song (the recommendation). In most cases, the recommended song will have to be similar to the inputted song, but the CTO thinks that if the song is on the top charts at the moment, the user will enjoy more a recommendation of a song that's also popular at the moment.

## Billboard Hot 100

### 1. Scrape the current top 100 songs and their respective artists, and put the information into a pandas dataframe.

In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
## Getting the html code of the web page
url = "https://www.billboard.com/charts/hot-100/"

In [3]:
response = requests.get(url)
response # 200 status code means OK!

In [4]:
## Parsing the html code
soup = BeautifulSoup(response.content, "html.parser")
#soup

In [5]:
#creating 2 empty lists
songs=[]
artists=[]

In [6]:
# First song (rest of the songs have a different htlm code!)

first_song=soup.find('h3').get_text(strip=True)
songs.append(first_song)

In [7]:
# rest of the songs

song_titles=soup.find_all("h3", attrs={"class": "c-title a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only"})
#song_titles

In [8]:
for title in song_titles:
    
    title_ = title.get_text(strip=True)
    #print(title_)
    songs.append(title_)

songs

['Last Night',
 'Fast Car',
 'Calm Down',
 'Flowers',
 'All My Life',
 'Favorite Song',
 'Barbie World',
 'Karma',
 'Kill Bill',
 "Creepin'",
 'Snooze',
 'Fukumean',
 'Cruel Summer',
 'Ella Baila Sola',
 'Sure Thing',
 'Anti-Hero',
 'Something In The Orange',
 'Need A Favor',
 'Oh U Went',
 'Die For You',
 'You Proof',
 "Thinkin' Bout Me",
 'Next Thing You Know',
 'Cupid',
 'La Bebe',
 'Sabor Fresa',
 'Memory Lane',
 'Un x100to',
 'Chemical',
 'Luna',
 'Dance The Night',
 'Religiously',
 "I'm Good (Blue)",
 'Eyes Closed',
 'Lady Gaga',
 'Search & Rescue',
 'Thought You Should Know',
 'Where She Goes',
 'Parade On Cleveland',
 "Dancin' In The Country",
 'Put It On Da Floor Again',
 'Area Codes',
 "Boy's A Liar, Pt. 2",
 'Bury Me In Georgia',
 'Love You Anyway',
 'TQM',
 'Thank God',
 'Bye',
 'One Thing At A Time',
 'Players',
 'Stand By Me',
 'Cars Bring Me Out',
 'Princess Diana',
 'VVS',
 'Bzrp Music Sessions, Vol. 55',
 'Wit Da Racks',
 'Daylight',
 'Doomsday.',
 'Want Me Dead',
 'Attention',
 'Peaches & Eggplants',
 'What It Is (Block Boy)',
 'Rubicon',
 'Back To The Moon',
 'Your Heart Or Mine',
 'Calling',
 'You, Me, & Whiskey',
 'Waffle House',
 'Mourning',
 'Hellcat Kenny',
 'TQG',
 'PRC',
 "Baby Don't Hurt Me",
 'See You Again',
 'Popular',
 'Por Las Noches',
 'Dial Drunk',
 'Money On The Dresser',
 'Annihilate',
 'El Azul',
 'Uncle M',
 'Cowgirls',
 'Rodeo Dr',
 'Fight The Feeling',
 'Self Love',
 'Nueva Vida',
 'Fragil',
 'Bread & Butter',
 'Watermelon Moonshine',
 'Lagunas',
 'Am I Dreaming',
 "Ain't That Some",
 'Rosa Pastel',
 'Pound Town 2',
 'ICU',
 'Jaded',
 'Abracadabra',
 'Truck Bed',
 'Save Me',
 'Gucci Grocery Bag']

In [9]:
len(songs)

100

In [10]:
# Artists

#First artist  (different html code from rest of artists)

first_artist = "c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet"
first_= soup.find_all("span", attrs={"class": first_artist})

In [11]:
for i in first_:
    
    first_artist = i.get_text(strip=True)
    artists.append(first_artist)

In [ ]:
#Rest of the artists

artists_="c-label a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only"
artists2 = soup.find_all("span", attrs={"class": artists_})
#artists2

In [14]:
for i in artists2:
    
    artist_list = i.get_text(strip=True)
    artists.append(artist_list)

In [18]:
len(artists)

100

In [19]:
## Constructing the dataframe

# each list becomes a column
df = pd.DataFrame({"artists":artists,
                       "songs":songs
                      })

df.head()

                      artists        songs
0               Morgan Wallen   Last Night
1                  Luke Combs     Fast Car
2         Rema & Selena Gomez    Calm Down
3                 Miley Cyrus      Flowers
4  Lil Durk Featuring J. Cole  All My Life

In [21]:
df.nunique()

artists     68
songs      100
dtype: int64

In [20]:
df.artists.value_counts()

                                 19
Morgan Wallen                     6
Gunna                             4
Miley Cyrus                       2
Luke Combs                        2
                                 ..
Latto Featuring Cardi B           1
Kali                              1
PinkPantheress & Ice Spice        1
Kane Brown                        1
Jelly Roll With Lainey Wilson     1
Name: artists, Length: 68, dtype: int64

In [ ]:
# some artists have multiple songs on the top 100.

## RollingStone The 100 Best Songs of 2022

In [22]:
## Getting the html code for the first 50 songs
url2 = "https://www.rollingstone.com/music/music-lists/best-songs-2022-list-1234632381/"

In [23]:
response2 = requests.get(url2)
response2

In [24]:
## Parsing the html code
soup2 = BeautifulSoup(response2.content, "html.parser")
#soup2

In [25]:
#creating 2 empty lists
songs2=[]
artists2=[]

In [26]:
for songs in soup2.find_all("article", attrs={"class": "pmc-fallback-list-item"}):
    songs2.append(songs.find('h2').get_text())

In [ ]:
songs2

In [27]:
len(songs2)

50

In [28]:
## Getting the html code for the next 50 songs

url3="https://www.rollingstone.com/music/music-lists/best-songs-2022-list-1234632381/bad-bunny-ft-bomba-estereo-ojitos-lindos-1234632596/"

In [29]:
response3= requests.get(url3)
response3

In [31]:
## Parsing the html code
soup3 = BeautifulSoup(response3.content, "html.parser")
#soup3

In [32]:
for songs in soup3.find_all("article", attrs={"class": "pmc-fallback-list-item"}):
    songs2.append(songs.find('h2').get_text())

In [ ]:
songs2

In [33]:
len(songs2)

100

In [35]:
## Constructing the dataframe

# each list becomes a column
df2 = pd.DataFrame({"artists_songs":songs2})
df2.head(5)

                         artists_songs
0  Lainey Wilson, ‘Heart Like a Truck’
1            Chronixx, ‘Never Give Up’
2            Plains, ‘Problem With It’
3     Hurray for the Riff Raff, ‘Saga’
4     Camilo ft. Grupo Firme, ‘Alaska’

In [36]:
# splitting artist and song

df2 = df2['artists_songs'].str.split(",", n=1, expand=True)
# n= Limit number of splits in output.
# expand = If True, return DataFrame/MultiIndex expanding dimensionality.

In [37]:
df2.head(5)

                          0                      1
0             Lainey Wilson   ‘Heart Like a Truck’
1                  Chronixx        ‘Never Give Up’
2                    Plains      ‘Problem With It’
3  Hurray for the Riff Raff                 ‘Saga’
4    Camilo ft. Grupo Firme               ‘Alaska’

In [38]:
#adding column names

cols=["artists", "songs"]
df2.columns=cols

In [39]:
df2["songs"] = df2["songs"].str.replace(" ","")

In [40]:
df2["songs"] = df2["songs"].str.strip("‘’")

In [42]:
# Concatenating both Billboard and Rollingstone dataframes along the index.

final_df = pd.concat([df, df2], axis=0)
final_df.head()

                      artists        songs
0               Morgan Wallen   Last Night
1                  Luke Combs     Fast Car
2         Rema & Selena Gomez    Calm Down
3                 Miley Cyrus      Flowers
4  Lil Durk Featuring J. Cole  All My Life

In [43]:
final_df.shape

(200, 2)

In [ ]:
# saving to a csv file

final_df.to_csv("top_songs.csv")